body {
    font-family: sans-serif;
    background-color:black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    align-items: center;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;

}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content:space-around;


}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
    color: wheat;
}

h1 {
    text-align: center;
    color: wheat;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1050px;
    margin: 0px;
    margin:0 auto 0 auto;
    max-width:1100px;
    display: flex;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin:15px;
    display: block;
}

.article-but {
    text-decoration: none;
    background-color:blue;
    color: wheat;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color:MediumAquamarine;
    padding: ;
    display: flex
}

footer a {
    margin-right:20px;
    margin:20px;
}

footer p {
    font-size: 24px;
}


.ber{
    width:100%;
    min-height:270px;
}
